<ion-view view-title="About Us">
  <ion-content scroll="true" class="payment">
  <div>
    <div class="pay-header"> 
      <p class="text-center"><img src="img/logo_levoeu.png" style="width: 160px;">

    </div> 
  </div> 

  

<h4 style=" text-align: left; color: #d0af68; padding-left: 10px">LE VOEU</h4>
      <p style="
    padding: 10px;
">Le Voeu in french means "The Vow". Our company believes that vows are meant to be kept as they are an essential part of our life, therefore we strongly vow to deliver timeless and classy pieces for our customers and offering them the best shopping experience. </p>

<div class="pay-header"> 
      <p class="" style="    font-size: 18px;
      line-height: 29px;
      font-weight: bold;">Contact Us </p> 
    </div>    
  </div> 
    <div class="row">
      <div class="col text-center"><img src="img/icon_locate.jpg" style="margin-top: 9px;"></div>
      <div class="col col-75">
        <h5 style="font-weight: bold; color: #d0af68;">LE VOEU STORE</h5>
        <p style=" margin-top: -1px; text-align: left;">810 Geylang Road <br> City Plaza #01-110 <br>Singapore 409286</p>
      </div>
    </div>

<div class="row">
  <div class="col text-center"><img src="img/icon_phone.jpg" style="margin-top: 9px;"></div>
  <div class="col col-75"><h5 style="font-weight: bold; 
                      color: #d0af68; float: left;">T</h5>
                      <h6> <p style="margin-left: 23px; margin-top: -1px;"> +65 67477478 </p></h6>
                </div>
</div>

<div class="row">
  <div class="col text-center"><img src="img/icon_mail.jpg" style="margin-top: 9px;"></div>
  <div class="col col-75"><h5 style="font-weight: bold; 
                      color: #d0af68;float: left;">E</h5>
                <h6><p style="margin-left: 23px; margin-top: -1px;">admin@levoeu-official.com</p></h6>
                </div>
</div>

  </ion-content>
</ion-view>

