<ion-view view-title="Tapforbeer">
  <ion-content style="background: #f2ca72;">
    <div class="row">
      <button class="button button-clear" ng-click="goBack()" style="float: left;">
        <i class="icon ion-ios-arrow-back" style="color: white;"></i>
      </button>
    </div>
    <div class="row checkout-text text-center" style="margin-top: 36vh;">
      <div class="col">
        <h4>Thank You</h4><br>
      </div>
    </div>
      <ion-footer-bar align-title="center" class="bar-balanced" ui-sref="app.products">
  <h1 class="title">continue shopping &nbsp; <i class="ion ion-chevron-right"></i></h1>
</ion-footer-bar>
  </ion-content>

</ion-view>
