<ion-view view-title="Forgot Password">
  <ion-content class="login">
  <div class="row login-text text-center">
  <div class="col">
    <button class="button button-clear" ng-click="myBack()" style="float: left;">
      <i class="icon ion-ios-arrow-back" style="color: white;"></i>
    </button>
    <h3 style="margin-top: 0px;margin-right: 10vw;"></h3><br>
    <p>Forgot Password</p>
  </div>
  </div>
    <form name="forgotpassword" ng-submit="forgotpassword.$valid && changePassword()" novalidate>
      <div ng-if="err" class="energized error-msg" role="alert">
        <div>{{err}}</div>
      </div>
      <div ng-if="message" class="error-msg" role="alert">
        <div style="color:#028482;">{{message}}</div>
      </div>
      <div class="list">
        <label class="item item-input">
          <input type="email" placeholder="Email" name="email" ng-model="email" ng-pattern='/^(([^<>()[\]\.,;:\s@\"]+(\.[^<>()[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i' required>
        </label>
        <div ng-messages="forgotpassword.$submitted && forgotpassword.email.$error" class="energized error-msg" role="alert">
          <div ng-message="required">Please enter your email address.</div>
          <div ng-message="email">Please enter valid email.</div>
          <div ng-message="pattern">Please enter valid email.</div>
        </div>

        <label class="item" style="border:none;">
          <button class="button button-block button-positive login-btn" type="submit">Reset Password</button>
        </label>
      </div>
      <div class="list">
        <div class="row">
          <div class="col">
            <hr>
          </div>
          <div class="col-40">
            <span>or</span>
          </div>
          <div class="col">
          <hr>
          </div>
        </div>
      </div>
      <div class="list">
        <span>Dont Have an Account?</span><br><br>
        <label class="item" style="border:none;">
          <button ng-click="goRegister()" class="button button-block button-positive login-btn register" type="submit">Register NOW</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>
