
<ion-view title='<img class="title-image" src="img/logo_levoeu.png" style="margin-top: 10px;height:33px;" />'>
  <ion-content class="home" scroll="true" style="padding-bottom: 48px;" >
  


<div class="row" style="padding:0px 0px 10px;    background-image: radial-gradient(circle farthest-corner at 0 0 , #D4B571, #FEF1C7 50%, #D4B571);">
<img src="img/banner_1.png">
</div>
<ion-slide-box on-slide-changed="slideHasChanged($index)" ui-sref="app.products">
   <ion-slide>
     <img src="img/banner_2.png"> <button class="button button-energized">SHOP NOW</button>
   </ion-slide>
   <ion-slide>
    <img src="img/banner_5.png"> <button class="button button-energized">SHOP NOW</button>
   </ion-slide>
   <ion-slide>
     <img src="img/banner_4.png"> <button class="button button-energized">SHOP NOW</button>
   </ion-slide>
 </ion-slide-box>

<div class="row" style="padding:0px;">
<img src="img/banner_3.png">
</div>
  </ion-content>
</ion-view>