/* Empty. Add your own CSS if you like */
body{
  font-family: 'Montserrat', sans-serif;
      -webkit-font-smoothing: inherit;
}
.white{
  color: #ffffff !important;
}
.blue{
    color: #f2ca72 !important;
}
h1{
    font-family: 'Montserrat', sans-serif;
}
.font-15{
  font-size: 15px;
}
p{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 300;
}
.bar-header {
      background-color: #fff!important;
      box-shadow: none;
}
.bar.bar-stable .title {
    color: #303030 !important;
    font-size: 18px;
    font-weight: bold;
    -webkit-font-smoothing: inherit;
}
.bar .button.button-icon .icon:before, .bar .button.button-icon.icon-left:before, .bar .button.button-icon.icon-right:before, .bar .button.button-icon:before, .bar button.button-icon .icon:before, .bar button.button-icon.icon-left:before, .bar button.button-icon.icon-right:before, .bar button.button-icon:before{
    color: #f2ca72;
}
.bar .button.button-clear .icon:before, .bar .button.button-clear.icon-left:before, .bar .button.button-clear.icon-right:before, .bar .button.button-clear.icon:before, .bar button.button-clear .icon:before, .bar button.button-clear.icon-left:before, .bar button.button-clear.icon-right:before, .bar button.button-clear.icon:before{
  color: #f2ca72;
}
::-webkit-input-placeholder {
  font-style: italic;
  font-weight: 400;

}

:-moz-placeholder { /* Firefox 18- */
   font-style: italic;
   font-weight: 400;

}

::-moz-placeholder {  /* Firefox 19+ */
   font-style: italic;
   font-weight: 400;

}

:-ms-input-placeholder {
  font-style: italic;
   font-weight: 400;

}
.btnedit{
    opacity: 0;
    z-index: 99;
    background: red;
    position: absolute;

}
.editicon{
    position: absolute;
    top: 0;
}
.editicon i{
  margin: 0;
  font-size: 20px!important;
  
}


.side-menu-header{
  background: url('../img/sidemenu_1.jpg')!important;
  background-size: cover;
  height: 150px;
}

.side-menu-header div{
    margin-left: 20px;
    margin-top: 10px;
}

.side-menu-header h1{
    float: right;
    color: #ffffff;
    text-align: left;
    text-decoration: none;
    font-family: Montserrat-Regular,Arial;
    font-size: 20px;
    margin-top: 15px;
    margin-left: 10px;
}
.side-menu-header i{
  float: left;
  font-size: 50px;
  margin: 0 0 0 20px;
}
.platform-ios .side-menu-header{
    height: 100px !important;
}
.platform-android .side-menu-header{
    height: 100px !important;
}

.platform-ios .side-menu-content{
  top: 120px !important;
}

.platform-android .side-menu-content{
  top: 120px !important;
}

.height-50 {
        height: 36vh;
    }
.side-menu-content ion-item{
  margin: 5px 0 0 10px;
  padding: 5px 20px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 16px;
  font-family: SourceSansPro-SemiBold,Arial;
}

.side-menu-content ion-item i{
    font-size: 25px;
    color: #f2cd7a;
    float: left;
    width: 32px;
    margin-top: 7px;
}

.side-menu-content ion-item span{
  float: left;
  margin: 10px 0 0 15px;
}
.user{
    background: #ffffff;
    padding: 2px;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: none;
}
.content{
  position: absolute;
  left: 0px;
  background-color: #F3F3F3;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}

.map-label{
  top: 34px;
  left: 0px;
  height: 45px;
}
.map-input-heading{
    color: #a9a9a9;
    text-align: left;
    text-decoration: none;
    font-family: SourceSansPro-SemiBold,Arial;
    font-size: 9.0pt;
    line-height: 0px;
    background: #f3f3f3;
    height: 30px;
    padding: 15px;
}

.map-button{
    position: fixed;
    left: 0;
    font-family: 'Montserrat', sans-serif;
    width: 300px;
    height: 56px;
    background-color: #21263a;
    color: #fff;
    color: #fff;
    top: 80vh;
    margin-left: -150px;
    left: 50%;
    border: 2px solid #21263a;
    font-size: 18px;
    font-weight: bold;
}
.cart-number{
      position: absolute;
    top: 5px;
    left: 14px;
    background: #ffb400;
    height: 25px;
    width: 25px;
    text-align: center;
    border-radius: 50px;
    font-weight: bold;
    color: #fff;
    line-height: 1.5;
}
.bar-stable .button.button-icon{
      position: relative;
}
.slide-box-content{
  background-color: white;
}
.product{
    display: block;
    position: relative;
    overflow: hidden;
    float: left;
    width: 50%;
    margin: 0;
    border: 2px solid #f5f5f5;
    box-shadow: none;
    border-radius: 0;

}
.product > .first{
    clear: right;
    position: absolute;
    right: 10px;
    text-align: right;
    line-height: 10px;
    font-size: 18px;
}
.img-wrapper{
  min-height: 201px;
}
.product-price{
    text-align: left;
    text-decoration: none;
    font-size: 15px;
    color: #515151;
}
.product-quantity{
    color: #808080;
    text-align: right;
    text-decoration: none;
    font-size: 10px;
}
.product h3{
  font-size: 17px;
    line-height: 1;
    color: #303030;
    margin-bottom: 3px;
}
.product img{
  position: relative;
  top: 45px;
  transform: rotate(0deg);
  box-shadow: none;
  width: 100%;
}
.product div{
    z-index: 9999;
    position: relative;
    height: 28px;
    width: 100px;
    margin: 0 auto;
}
.product div span{
    margin: 3px 10px 0 10px;
    color: #434343;
    text-align: center;
    text-decoration: none;
    font-size: 28px;
    /* line-height: 0px; */
    display: inline-block;
}
.product i{
    color: #e1e1e1;
    font-family: materialdesignjim-Regular,Arial;
    font-size: 16px;
    border: 2px solid;
    border-radius: 59px;
    width: 25px;
    height: 25px;
    padding: 2px;
    display: inline-block;
}
.product .ion-minus{
    float: left;
}
.product .ion-plus{
    float: right;
}
.product i.activated{
  color: #f2ca72;
}
.height-40{
    height: 36vh;
}
.cart-content{
  position: absolute;
  background-color: #F3F3F3;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 1px 5px 0px #CFCFCF;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
.center{
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-family: 'Montserrat', sans-serif;
}
.cart-card{
    height: 36px;
    margin-top: 10px !important;
    background-color: #FFFFFF;
    background-image: none;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #dddddd;
    border-right-width: 0px;
    border-right-style: solid;
    border-right-color: #F3F3F3;
    border-bottom-width: 0px;
    border-bottom-style: solid;
    border-bottom-color: #F3F3F3;
    border-left-width: 0px;
    border-left-style: solid;
    border-left-color: #F3F3F3;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: inset 0px 2px 0px 0px #f7f6f6;
}
.charge-list p{
  font-size: 14px;
    color: #999999;
  margin-top: 3px;
    font-family: 'Montserrat', sans-serif;
}
.charge-list{
    border-top: 1px solid #dddddd;
    background: #fff;
    margin-top: -1px !important;
    border-bottom: 1px solid #dddddd;
    padding: 5px 15px 0 !important;
}
.cart-card div {
    margin-top: 10px;
    padding: 0px;
}
.cart-card i{
  font-size: 28px;
  color: #999999;
  margin-left: 5vw;
}
.cart-address{
  color: #999999;
  font-size: 16px;
  margin-top: 3px;
  font-family: 'Montserrat', sans-serif;
}
.cart-icon-header{
    color: #303030;
    margin-top: 8px;
    font-weight: bold;
    font-size: 15px;

}
.main-menu img{
    width: 30px;
    height: 34px;
    margin-top: 7px;


}

.categorybox{
box-shadow: 1px 5px 19px rgba(51, 51, 51, 0.23);
    border-radius: 10px;    
    margin: 0 auto;
    width: 60%;    
    padding: 10px;
    
}
}
.img-box{
  padding: 10px;
}
.vat{
 margin-top: 10px !important;

}
.order-now{
    font-size: 24px;
    background: #028482;
    color: #fff;
    border: none;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    font-family: Roboto,Arial;
    text-transform: uppercase;
    font-weight: 300;
    box-shadow: 0 8px 8px #1b1b1b;
}
.vat h3{
      font-size: 22px;
    color: #7e7e7e;
    font-family: 'Montserrat', sans-serif;
}
.vat h3 span{
      display: block;
    font-size: 14px;
}
.map-label label{
    box-shadow: 0 3px 9px #9f9f9f;
}
.fixed-cart{
    box-shadow: 0 4px 5px #a1a1a1 !important;
    position: absolute;
    bottom: 3vh;
    background:#f2ca72!important;
    left: 50%;
    width: 42px;
    padding: 0px;
    min-height: 37px;
    font-size: 30px;
    border-radius: 50px;
    margin-left: -26px;
}
.charge{
  text-align: center;
      border-top: 1px solid #dddddd;
    background: #fff;
    margin-top: 0 !important;
    border-bottom: 1px solid #dddddd;
    padding: 0px;
}
.charge .col-50:first-child{
      border-right: 1px solid #ddd;
}
.charge h3{
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  color: #7e7e7e;
      padding: 20px 0 5px;
}
.charge h3 span{
  font-size: 14px;
  display: block;
}
.login{
    background: url('../img/login-bg.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.login .list label{
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    padding: 0;
    color: #fff;
    width: 90%;
    margin: 0 auto;
}
.login .input-label{
    color: #fff;
    text-align: left;
        font-size: 16px;
    font-style: italic;

}
.login-text h3{
  color: #fff;
}
.login-text p{
  color: #fff;
  
  font-size: 17px;
}
.button.login-btn{
      margin: 0 auto;
    background: #f2ca72;
    color: #fff;
    font-weight: bold;
      font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    border-radius: 0px;
}
.login{
  text-align: center;
  color: #fff;
}
.login .item-input input{
    color: #303030;
    padding-left: 10px;
    height: 48px;
    background: #fff;
}
.button.register{
    background: #f2ca72;
    color: #fff;
}
.social img{
    width: 36px;
    margin-top: 10px;
    margin: 10px;
}
.yes-no .button{
    width: 100%;
}
.yes-no .col{
  padding: 0px;
}
.yes-no {
  max-width: 230px;
  margin: 0 auto;
}
.energized, a.energized {
    color: red;
    padding: 5px;
    width: 90%;
    margin: 0 auto;
}
.forward-map{
  font-size: 20px;
  margin-top: 1.2vh;
  color: #ffffff;
  margin-right: 1vw;
}
.checkout{
  background: url('../img/thank-you.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.checkout-text h3{
    color: #403939;
    font-family: 'Lobster', cursive;
    font-weight: bold;
    font-size: 35px;
    -webkit-font-smoothing: inherit;
}
.checkout-text h4{
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
    font-size: 40px;
  -webkit-font-smoothing: inherit;
}
.checkout-text h5{
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  -webkit-font-smoothing: inherit;
}
.checkout-social img{
    width: 30px;
    margin-top: 10px;
    margin: 10px;
}
.cart-cancel-text{
  margin-top: 0px !important;
  border-top: 1px solid #f3f3f3;
  border-bottom: 1px solid #dddddd;
  color: #999999;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}
.detail_img{
    width: 100%;
    max-width: 260px;
    margin: 0 auto;
}
.detail .product-price {
    font-size: 24px;
    font-family: 'Bentham', serif !important;
    line-height: 22px;
  }
.detail .product-quantity {
    font-size: 16px;
}
.bar.bar-balanced {
    border-color: #f2ca72;
    background-color: #f2ca72;
    background-image: none;
    color: #fff;
}
.bar.bar-balanced.bar-footer {
    background-image: none;
}

.payment h4{
    margin-bottom: 0px;
}
.payment .item-input{
    padding: 16px 0 5px 16px;
}
.payment ::-webkit-input-placeholder {
   color: #a2a2a2 !important;
   font-style: normal;
   color: #a2a2a2;
}

.payment :-moz-placeholder { /* Firefox 18- */
   color: #a2a2a2 !important;  
   font-style: normal;
}

.payment ::-moz-placeholder {  /* Firefox 19+ */
   color: #a2a2a2  !important;
   font-style: normal;
}

.payment :-ms-input-placeholder{  
   color: #a2a2a2 !important; 
   font-style: normal;
}


.login ::-webkit-input-placeholder {
   color: #303030 !important;
   font-style: normal;
   color: #303030;
}

.login :-moz-placeholder { /* Firefox 18- */
   color: #303030 !important;  
   font-style: normal;
}

.login ::-moz-placeholder {  /* Firefox 19+ */
   color: #303030 !important;
   font-style: normal;
}

.login :-ms-input-placeholder{  
   color: #303030 !important; 
   font-style: normal;
}

.pay-header{
    padding: 8px;
    color:  #d0af68;
}
.pay-header h4{
    font-size: 40px;
    font-weight: 300;
    text-align: center;
}
.month{
    width: 50%;
    float: left;
    border-bottom: 0;
}
.home img{
  width: 100%;
  height: 100%;
}
.slider-pager .slider-pager-page {
    display: inline-block;
    margin: 0 3px;
    width: 12px;
    color: #fff;
  }
.home .slider-slide {
    background-image: radial-gradient(circle farthest-corner at 0 0 , #D4B571, #FEF1C7 50%, #D4B571);
  }
.home .button.button-energized{
    position: absolute;
    bottom: 40px;
    left: 50%;
    margin-left: -52px;
}
.button.button-energized {
    border-color: transparent;
    background-color: #e6a61a;
    color: #fff;
    border: none;
    min-height: 30px;
    border-radius: 50px;
    font-size: 12px
    padding: 0 19px;
    line-height: 34px;
}
.ion-record:before {
    content: "ïˆ›";
    font-size: 12px;
}
.payment .bar-energized .button{
  width: 100%;
  font-size: 18px;
  border: none;
}
@media screen and (device-aspect-ratio: 40/71) {
    .height-50 {
        height: 42vh;
    }
    .img-wrapper {
      min-height: 180px;
    }
}

.category_desc_padding {
     margin: 10px 5px 10px 5px;
}

.col-sm-9{
  margin-left: 41px;
  margin-top: -51px;
}

.capitalize {
    text-transform: capitalize;
}

.business-list .item h2 span{
    float: right;
}
.business-list .item h2 span .icon-accessory{
    color: #A3A3A3;
}
.business-list .item{
    border: none;
    border-bottom: 1px solid #F3F3F3;
    margin-bottom: 1px;
}

